 ## Optimize the Model - First Attempt
 In our first attempt we dropped STATUS cloumn as well. We also checked if our dataset was balanced. We added 2 additional hidden layers with 15 and 35 neurons as well as incrporated other activation functions into the model (selu, tanh). We switched our optimizer to SGD and increased the number of epochs to 150. The desired accuracy was not achieved, however, so we proceeded to our next option.

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME', 'STATUS'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# cutoff value is T10 (including) and create a list of application types to be replaced
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
value_counts = application_df['CLASSIFICATION'].value_counts()
value_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# cutoff value 1000
filtered_values = application_df['CLASSIFICATION'].value_counts().loc[lambda x : x<1000]
classifications_to_replace = filtered_values.index.tolist() # creating the list to be replaced 
# classifications_to_replace

# # Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()
# application_df

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df, columns=['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 
                                                                 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
application_df_encoded.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,108590,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,5000,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,6692,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,142590,1,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])
y = application_df_encoded['IS_SUCCESSFUL']
y
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=42, activation="selu", input_dim=42))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=20, activation="tanh"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=15, activation="selu"))

# Forth hidden layer
nn_model.add(tf.keras.layers.Dense(units=35, activation="relu"))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 42)                1806

 dense_1 (Dense)             (None, 20)                860

 dense_2 (Dense)             (None, 15)                315

 dense_3 (Dense)             (None, 35)                560

 dense_4 (Dense)             (None, 1)                 36

=================================================================
Total params: 3,577
Trainable params: 3,577
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="sgd", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6004 - accuracy: 0.7048
Epoch 2/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5656 - accuracy: 0.7250
Epoch 3/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5590 - accuracy: 0.7280
Epoch 4/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5563 - accuracy: 0.7284
Epoch 5/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5544 - accuracy: 0.7305
Epoch 6/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7308
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7306
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5511 - accuracy: 0.7317
Epoch 9/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5501 - accuracy: 0.7323
Epoch 10/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5495 - accuracy: 0.7333
Epoch 11/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7334
Epoch 12/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7331
Epoch 13/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7340
Epoch 14/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7341
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7341
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - accuracy: 0.7350
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7355
Epoch 18/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5463 - accuracy: 0.7348
Epoch 19/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7352
Epoch 20/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7342
Epoch 21/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7354
Epoch 22/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 23/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7347
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7353
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7359
Epoch 27/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7356
Epoch 28/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7352
Epoch 29/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 30/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7360
Epoch 31/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7358
Epoch 32/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7365
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7359
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7365
Epoch 35/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5433 - accuracy: 0.7364
Epoch 36/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7364
Epoch 37/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7364
Epoch 38/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 39/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7353
Epoch 40/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7365
Epoch 41/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7360
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7371
Epoch 43/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7364
Epoch 44/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5425 - accuracy: 0.7372
Epoch 45/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5426 - accuracy: 0.7366
Epoch 46/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7372
Epoch 47/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7365
Epoch 48/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7368
Epoch 49/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7372
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7373
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7369
Epoch 53/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7364
Epoch 54/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7364
Epoch 55/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5419 - accuracy: 0.7366
Epoch 56/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7373
Epoch 57/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7377
Epoch 58/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5417 - accuracy: 0.7372
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7372
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7368
Epoch 61/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7378
Epoch 62/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7374
Epoch 63/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7378
Epoch 64/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7370
Epoch 65/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7370
Epoch 66/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7365
Epoch 67/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5412 - accuracy: 0.7375
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7380
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7381
Epoch 70/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7382
Epoch 71/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7379
Epoch 72/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7366
Epoch 73/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7376
Epoch 74/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7372
Epoch 75/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7378
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7383
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7384
Epoch 78/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 79/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7379
Epoch 80/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7379
Epoch 81/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7373
Epoch 82/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7381
Epoch 83/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7377
Epoch 84/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7383
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7386
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7381
Epoch 87/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7387
Epoch 88/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 89/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7387
Epoch 90/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7393
Epoch 91/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7383
Epoch 92/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7388
Epoch 93/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5398 - accuracy: 0.7382
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7386
Epoch 96/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7378
Epoch 97/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7383
Epoch 98/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7388
Epoch 99/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7392
Epoch 100/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7392
Epoch 101/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7386
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7382
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7393
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7382
Epoch 105/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7391
Epoch 106/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7390
Epoch 107/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7394
Epoch 108/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 109/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7393
Epoch 110/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7392
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7390
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7389
Epoch 113/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 114/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7391
Epoch 115/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7390
Epoch 116/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5390 - accuracy: 0.7395
Epoch 117/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7384
Epoch 118/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7388
Epoch 119/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7394
Epoch 122/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7397
Epoch 123/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7387
Epoch 124/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7386
Epoch 125/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7396
Epoch 126/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7391
Epoch 127/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7394
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5385 - accuracy: 0.7400
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7398
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 131/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7390
Epoch 132/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7399
Epoch 133/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 134/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7396
Epoch 135/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7391
Epoch 136/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7398
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7400
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7400
Epoch 139/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7393
Epoch 140/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7389
Epoch 141/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7389
Epoch 142/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7395
Epoch 143/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7404
Epoch 144/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7404
Epoch 145/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7402
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7401
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.5381 - accuracy: 0.7405
Epoch 148/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 149/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7402
Epoch 150/150
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7402

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5522 - accuracy: 0.7261 - 485ms/epoch - 2ms/step
Loss: 0.5522319078445435, Accuracy: 0.726064145565033

In [ ]:
# Export our model to HDF5 file
tf.keras.models.save_model(nn_model, 'AlphabetSoupCharity_firstoptimization.h5')